*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif
}

:root {
    /* CSS Vars NTS: Move colors, url, and other reusable code into vars*/
    --background-img: url("https://images.unsplash.com/photo-1606188476246-9787d837a85e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2071&q=80");

    --border-color: #e8dd83;
    --guide-background-color: #64a09a;
    --guide-text-color: gold;
    --background-gradient-blue: rgb(72, 162, 153) 0%;
    --background-gradient-gold: rgb(249, 221, 9) 96%;

    --font-size-large: 60px;
    --font-size-small: 25px;

    --border-radius-default: 10px;
}

img {
    width: 150px;
    height: 200px;
    border: solid var(--border-color) 4px;
    border-radius: 25%;
}

.hero, .activities, .bio {
    display: flex;
}

.hero {
    background-image: var(--background-img);
    background-size: cover;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
}

.hero > h1 {
    width: 700px;
    background: linear-gradient(6deg, var(--background-gradient-blue), var(--background-gradient-gold));
    border-radius: var(--border-radius-default);
    font-size: var(--font-size-large);
}

.hero > h2 {
    width: 400px;
    background: linear-gradient(6deg, var(--background-gradient-blue), var(--background-gradient-gold));
    border-radius: var(--border-radius-default);
    font-size: var(--font-size-small);
    margin: 20px;
    padding: 5px;
}

.activities, .activity-heading {
    background: linear-gradient(6deg, var(--background-gradient-blue), var(--background-gradient-gold));
    padding: 20px;
}

.coffee, .theater, .murals {
    flex: 1;
    margin: 10px;
}

.guide {
    width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: var(--guide-background-color);
    border: 4px double var(--border-color);
    border-radius: 20px;
}

.bio {
    flex-direction: column;
    color: var(--guide-text-color);
}