body {
    margin: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif
}

img {
    width: 150px;
    height: 200px;
    border: solid #e8dd83 4px;
    border-radius: 25%;
}

#hero {
    background-image: url("https://images.unsplash.com/photo-1606188476246-9787d837a85e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2071&q=80");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
}

#hero > h1 {
    width: 700px;
    background: linear-gradient(6deg, rgb(72, 162, 153) 0%, rgb(249, 221, 9) 96%);
    border-radius: 10px;
    font-size: 60px;
}

#hero > h2 {
    width: 400px;
    background: linear-gradient(6deg, rgb(72, 162, 153) 0%, rgb(249, 221, 9) 96%);
    border-radius: 10px;
    font-size: 25px;
}

.activity-heading {
    background: linear-gradient(6deg, rgb(72, 162, 153) 0%, rgb(249, 221, 9) 96%);
    margin: 0;
    padding: 20px;
}

.activities {
    display: flex;
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(228,209,47,1) 100%);
    padding: 20px;
}

.coffee, .theater, .murals {
    flex: 1;
    margin: 5px;
}

#guide {
    width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: #587774;
    border: 4px double #e8dd83;
    border-radius: 20px;
}

.bio {
    display: flex;
    flex-direction: column;
    color: gold;
}